---
import { PortableText } from 'astro-portabletext';
import type { TypedObject } from 'astro-portabletext/types';

interface Props {
  value: TypedObject[];
  class?: string;
}

const { value, class: className } = Astro.props;
---

<div class:list={['pt', className]}>
  <PortableText value={value} />
</div>

<style>
  .pt :global(p) {
    margin: 0 0 1em;
  }
  .pt :global(p:last-child) {
    margin-bottom: 0;
  }
</style>
