/*
 * Font faces scaffolded ahead of licensed files from Lad.
 * Drop the woff2 files into /public/fonts/ and these activate automatically;
 * until then, font-display: swap renders the fallback stacks in tokens.css.
 */
@font-face {
  font-family: 'PP Neue Corp Tight';
  src: url('/fonts/PPNeueCorp-TightUltrabold.woff2') format('woff2');
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Neue Corp Compact';
  src: url('/fonts/PPNeueCorp-CompactUltrabold.woff2') format('woff2');
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Bluescreens';
  src: url('/fonts/TTBluescreens-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
